<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="icon" href="imgs/cloud.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <h1 id = "title">Weather In <%= cityName %></h1>
    <div class = "row">
        <div class = "col-lg-12">
            <div class="card bg-light mb-3 today-temp">
                <div class="card-header"> Today: <%= currentDate %></div>
                <div class="card-body">
                    <p class="card-text maintemp"> <%= currentDesc %></p>
                    <p class="card-text maintemp">It Is Currently <span class = "curTempNum"><%= currentTemp %>°F</span></p>
            </div>
            </div>
        </div>
    </div>

    <div class = "row subtemprow">
    <div class = "col-lg-4">
            <div class="card bg-light mb-3 subtemp" style="max-width: 18rem;">
                <div class="card-header"><%= firstDayDate %></div>
                <div class="card-body">
                    <p class="card-text">2:00 AM: <span class = "tempNum"><%= firstDayTemps[0] %>°F</span> </p>
                    <p class="card-text">5:00 AM: <span class = "tempNum"><%= firstDayTemps[1] %>°F</span></p>
                    <p class="card-text">8:00 AM: <span class = "tempNum"><%= firstDayTemps[2] %>°F</span></p>
                    <p class="card-text">11:00 AM:<span class = "tempNum"> <%= firstDayTemps[3] %>°F</span></p>
                    <p class="card-text">2:00 PM: <span class = "tempNum"><%= firstDayTemps[4] %>°F</span></p>
                    <p class="card-text">5:00 PM: <span class = "tempNum"><%= firstDayTemps[5] %>°F</span></p>
                    <p class="card-text">8:00 PM: <span class = "tempNum"><%= firstDayTemps[6] %>°F</span></p>
                    <p class="card-text">11:00 PM:<span class = "tempNum"><%= firstDayTemps[7] %>°F</span></p>
                </div>
                </div>
        </div>
        <div class = "col-lg-4 ">
            <div class="card bg-light mb-3 subtemp" style="max-width: 18rem;">
                <div class="card-header"><%= secondDayDate %></div>
                <div class="card-body">
                    <p class="card-text">2:00 AM: <span class = "tempNum"><%= secondDayTemps[0] %>°F</span> </p>
                    <p class="card-text">5:00 AM: <span class = "tempNum"><%= secondDayTemps[1] %>°F</span></p>
                    <p class="card-text">8:00 AM: <span class = "tempNum"><%= secondDayTemps[2] %>°F</span></p>
                    <p class="card-text">11:00 AM: <span class = "tempNum"><%= secondDayTemps[3] %>°F</span></p>
                    <p class="card-text">2:00 PM: <span class = "tempNum"><%= secondDayTemps[4] %>°F</span></p>
                    <p class="card-text">5:00 PM: <span class = "tempNum"><%= secondDayTemps[5] %>°F</span></p>
                    <p class="card-text">8:00 PM: <span class = "tempNum"><%= secondDayTemps[6] %>°F</span></p>
                    <p class="card-text">11:00 PM: <span class = "tempNum"><%= secondDayTemps[7] %>°F</span></p>
                </div>
                </div>
        </div>
        <div class = "col-lg-4">
            <div class="card bg-light mb-3 subtemp" style="max-width: 18rem;">
                <div class="card-header"><%= thirdDayDate %></div>
                <div class="card-body">
                    <p class="card-text">2:00 AM: <span class = "tempNum"><%= thirdDayTemps[0] %>°F</span> </p>
                    <p class="card-text">5:00 AM: <span class = "tempNum"><%= thirdDayTemps[1] %>°F</span></p>
                    <p class="card-text">8:00 AM: <span class = "tempNum"><%= thirdDayTemps[2] %>°F</span></p>
                    <p class="card-text">11:00 AM: <span class = "tempNum"><%= thirdDayTemps[3] %>°F</span></p>
                    <p class="card-text">2:00 PM: <span class = "tempNum"><%= thirdDayTemps[4] %>°F</span></p>
                    <p class="card-text">5:00 PM: <span class = "tempNum"><%= thirdDayTemps[5] %>°F</span></p>
                    <p class="card-text">8:00 PM: <span class = "tempNum"><%= thirdDayTemps[6] %>°F</span></p>
                    <p class="card-text">11:00 PM: <span class = "tempNum"><%= thirdDayTemps[7] %>°F</span></p>
                </div>
                </div>
            </div>
        </div>
</body>
</html>