<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
    <h1> <%= currentDate %></h1>
    <h2>It Is Currently <%= currentTemp %></h3>

    <ul>
        <li><%= firstDayDate %></li>
        <li>2:00 AM: <%= firstDayTemps[0] %></li>
        <li>5:00 AM: <%= firstDayTemps[1] %></li>
        <li>8:00 AM: <%= firstDayTemps[2] %></li>
        <li>11:00 AM: <%= firstDayTemps[3] %></li>
        <li>2:00 PM: <%= firstDayTemps[4] %></li>
        <li>5:00 PM: <%= firstDayTemps[5] %></li>
        <li>8:00 PM: <%= firstDayTemps[6] %></li>
        <li>11:00 PM: <%= firstDayTemps[7] %></li>
    </ul>
    <ul>
        <li> <%= secondDayDate %></li>
        <li>2:00 AM: <%= secondDayTemps[0] %></li>
        <li>5:00 AM: <%= secondDayTemps[1] %></li>
        <li>8:00 AM: <%= secondDayTemps[2] %></li>
        <li>11:00 AM: <%= secondDayTemps[3] %></li>
        <li>2:00 PM: <%= secondDayTemps[4] %></li>
        <li>5:00 PM: <%= secondDayTemps[5] %></li>
        <li>8:00 PM: <%= secondDayTemps[6] %></li>
        <li>11:00 PM: <%= secondDayTemps[7] %></li>
    </ul>

    <ul>
        <li> <%= thirdDayDate %></li>
        <li>2:00 AM: <%= thirdDayTemps[0] %></li>
        <li>5:00 AM: <%= thirdDayTemps[1] %></li>
        <li>8:00 AM: <%= thirdDayTemps[2] %></li>
        <li>11:00 AM: <%= thirdDayTemps[3] %></li>
        <li>2:00 PM: <%= thirdDayTemps[4] %></li>
        <li>5:00 PM: <%= thirdDayTemps[5] %></li>
        <li>8:00 PM: <%= thirdDayTemps[6] %></li>
        <li>11:00 PM: <%= thirdDayTemps[7] %></li>
    </ul>
</body>
</html>